@media (min-width: 100px) {

/* CSS Styling home html file */
h1, h2 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
  
h1 {
    font-size: 2.0em;
    position: relative;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    z-index: 40;
}
  
h2 {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px black;
    text-align: left;
    position: relative;
    z-index: 40;
}
.girl {
    width: 200px;
    /*clip-path: circle();*/
    border-radius: 120% / 50%;
    border: 2px solid white;
    opacity: 80%;
    float: right;
    position: relative;
    z-index: 40;
}
.leaves {
    mix-blend-mode: multiply;
    justify-content: center;
    width: 950px;
    height: 600px;
    opacity: 40%;
    position: absolute;
    z-index: 20;
}
.quote {
    font-family: 'Satisfy', c;
    font-weight: 100;
    color: rgb(226, 216, 196);
    text-shadow: 1px 1px 2px black;
    font-size: 2.2em;
    text-align: left;
    margin-top: 2em;
    position: relative;
    z-index: 40;
}
p {
    text-shadow: 1px 1px 2px black;
    position: relative;
    z-index: 40;
}
/* CSS Styling for all three html files */
* {
    box-sizing: border-box;
}
  
body {
    background: rgb(94, 121, 110);
    max-width: 960px;
    color: rgb(38, 60, 38);
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
  
header {
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px black;
}
main {
    min-height: 100vh;
    padding: 64px 24px 96px;
   
    color: #eee;
    font-family: 'Open Sans', sans-serif;
}
header::after {
    display: block;
    clear: both;
    content: '';
}
.name {
    float: left;
    font-family: cursive;
}
.links {
    float: right;
}
.links a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
}
.links a:first-of-type {
    margin-left: 0;
}
.links a.active {
    border-bottom: 2px solid rgb(38, 60, 38);
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    box-shadow: 0 -2px 4px -2px black;
}
footer .media-link {
    height: 30px;
}
footer a {
    margin-right: 64px;
    text-decoration: none;
}
header, footer {
    background:  rgb(211, 224, 215);
    position: fixed;
    z-index: 100;
}

/* CSS Styling for about.html file */
section > img {
    height: 200px;
    width: 180px;
    float: right;
    opacity: 75%;
}
.hike {
    position: relative;
    z-index: 40;
    
}
.art {  
    position: relative;
    z-index: 40;
}
section {
    border-top: 2px solid #bbb;
}

/* CSS Styling for portfolio.html file */
.leaves2 {
    mix-blend-mode: multiply;
    justify-content: center;
    width: 950px;
    height: 600px;
    opacity: 40%;
    position: absolute;
    z-index: 20;
}
.picassoImg {
    width: 250px;
    height: 190px;
    float: right;
    position: relative;
    z-index: 40;
}
.groceryListImg {
    width: 250px;
    height: 190px;
    float: right;
    position: relative;
    z-index: 40;
}
.picassoLink {
    color: white;
    font-size: 1.5em;
    position: relative;
    z-index: 40;
}
.groceryLink {
    color: white;
    font-size: 1.5em;
    position: relative;
    z-index: 40;
}
/* CSS Styling for contact.html */
.submission {
    text-align: center;
    font-size: 20px;
    position: relative;
    z-index: 40; 
    color: solid white;  
}

}

